[Unit]
Description=Hyperbridge-Node Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ system_username }}


ExecStart=/usr/local/bin/hyperbridge-node \
            --chain=gargantua \
            --name={{ hyperbridge_username }} \
            --database=paritydb \
            --telemetry-url 'wss://telemetry.polkadot.io/submit 1' \
            --telemetry-url 'wss://telemetry.blockops.network/submit 1' \
            --pruning=archive \
            --enable-offchain-indexing=true \
            --base-path /home/{{ system_username }}/hyperbridge \
            -- --sync fast-unsafe --chain=rococo --execution wasm
    
Restart=on-failure

TimeoutSec=infinity
RestartSec=10
[Install]
WantedBy=multi-user.target