[Unit]
Description=Hyperbridge-Node Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ system_username }}


ExecStart=/usr/local/bin/hyperbridge-node \
            --base-path /home/{{ system_username }}/hyperbridge \
            --pruning=archive \
            --name={{ hyperbridge_username }} \
            --rpc-cors=all \
            --rpc-methods=unsafe \
            --database=paritydb \
            --chain={{chain}} \
            --no-mdns \
            --out-peers=32 
            
#--unsafe-rpc-external
    
Restart=on-failure

TimeoutSec=infinity
RestartSec=10
[Install]
WantedBy=multi-user.target